.wrap {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0px;
}

table{
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

th {
  text-align: center;
  background: #393939;
  color: #fff;
  padding: 5px 10px;
  font: bold 15px "돋움"
}

td {
  text-align: center;
  padding: 0px 0px;
  border-bottom: 1px solid #000000;
  font: bold 15px "돋움"
}

a {
  display: inline-block;
  width: 15%;
  box-sizing: border-box;
  padding: 5px 5px;
  border-radius: 15px;
  margin: 10px 0px;
  background: #c4bfbf;
  border: 1px solid #ffffff;
  text-align: center;
  text-decoration: none;
  font: bold 15px "돋움"
}
