.wrap {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0px;
}

form {
  width: 70%;
  box-sizing: border-box;
  padding: 20px;
  background: #f1f1f1;
  border-radius: 10px 0px;
}

input {
  width: 70%;
  line-height: 2em;
  height: 2em;
}

label {
  width: 80%;
  display: inline-block;
  margin: 10px 0px;
  text-align: center;
  font: bold 15px "돋움"
}

input[type='submit'] {
  width: 20%;
  display: inline-block;
  margin: auto 280px;
  background: #918191;
  color: #fff;
  border: none;
  padding: 1px;
  height: 3em;
  font-size: 15px;
  font: bold 15px "돋움";
  border-radius: 15px;
}

a {
  display: inline-block;
  width: 15%;
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 15px;
  margin: 10px 0px;
  background: #f9f9f9;
  border: 1px solid #a1a1a1;
  text-align: center;
  text-decoration: none;
  font: bold 15px "돋움"
}
